	<div>
		<b><%= comment.author %>:</b> <div class="comment"><%= markdown comment.text %></div>
		(<abbr title="<%= h(comment.created_at) %>"><%= time_ago_in_words(comment.created_at) %> ago</abbr>)
	</div>
